$color-accent: #FF7600;
$color-accent-secondary: #FFA900;
$color-purple: #52006A;
$color-red: #CD113B;
$color-white: #fff;
$color-gray: #F7F5F5;
$color-black: #000;

$border-radius-large: 16px;
$border-radius-medium: 12px;
$border-radius-small: 8px;

$transition-animation-time: .2s;

$container-padding: 0 15px;

$content-box-shodow: 0px 10px 20px rgba(0, 0, 0, 0.05);
$content-border: 1px solid #f7f7f7;
